<div class="">
        <div class="bg">
                <img src="assets/img/banner_bg.png" class="bgImg">
                <img src="assets/img/banner_img.png" class="posImg">
            
                <div class="banner-heading">
                    <h1>
                        Building Networks For People
                    </h1>
                    <p style="padding-top:15px">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt enim tenetur, quas adipisci, perferendis quos eaque itaque quae, tempora quisquam ipsam. Officiis impedit  
                    </p>
                    <div style="margin-top:10px">
                        <!-- <button mat-flat-button color="primary" style="border-radius:35%">
                            Try For Free
                        </button> -->
                        <button type="button" class="btn btn-danger btn-lg" style="border-radius:2rem">Try For Free</button>
                    </div>
                </div>
            </div>
</div>
